<html>
    <head>
        <title> Login </title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style1.css')}}">
        <body background = "{{url_for('static',filename='images/img1.jpg')}}">
            <div class="loginbox">
                <img src="{{url_for('static',filename='images/img2.jpg')}}" class="logo">
                <h1> Enter Login Credentials </h1>
                <form action="/login" method='post'>
                    <p>Username</p>
                    <input type="text" name="username" placeholder="Enter username">
                    <p>Password</p>
                    <input type="password" name="password" placeholder="Enter Password">
                    <input type="submit" value="Login">
                    <h5>{{msg}}</h5>
                </form>
            </div>
        </body>
    </head>
</html>
